<!-- This launch file starts all the correct ros nodes for the mecademic IK demo -->

<launch>
	<include file="$(find mecademic_description)/launch/meca_500_r3.launch"/>

  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mecademic_viz)/rviz/model.rviz" />

  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="meca_ik_node" pkg="meca_ik_demo" type="meca_ik_node.py"/>
	
	<node name="rqt_ez_publisher" pkg="rqt_ez_publisher" type="rqt_ez_publisher"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="use_gui" value="false" />
    	<rosparam param="source_list">["/joint_pos_desired"]</rosparam>
  	</node>

</launch>